# -------------------------------------------------------------------------
# Contains libraries crucial for running the main project functionalities.
# -------------------------------------------------------------------------

PyYAML==6.0.2
g2p_en==2.1.0
soundfile==0.12.1
textgrid==1.6.1