# ----------------------------------------------------------------------
# Contains libraries crucial for the project development, in particular:
# - CI workflow related libs
# - Testing tools
# - Linting and static analysis tools to be integrated with IDE
# ----------------------------------------------------------------------

mypy==1.13.0
pre-commit==3.6.2
pylint==3.1.0
